* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 0.6fr repeat(4, 2fr);
    height: 100vh;
    grid-template-areas: 
        "header header header header header"
        "cards cards cards cards cards"
        "cards cards cards cards cards"
        "cards cards cards cards cards";    
    gap: 10px;
}

.header {
    background-color: lightgreen;
    grid-area: header;
}

.cards-container {
    background-color: lightblue;
    grid-area: cards;
}

.card {
    background-color: lightsalmon;
}
