* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: 1fr 8fr 1fr;
    height: 100vh;
    grid-template-areas: 
        "header header header header header"
        "cards cards cards cards cards"
        "footer footer footer footer footer"; 
}

.header {
    background-color: lightgreen;
    grid-area: header;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    background-color: lightyellow;
    grid-area: footer;
}

.cards-container {
    background-color: lightblue;
    grid-area: cards;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: repeat(4, 1fr);
    gap: 5px;
    margin-top: 5px;
}

.card {
    background-color: lightsalmon;
    padding: 10px;
}

.card h1 {
    border-bottom: 2px solid black;
    text-align: center;
    font-size: 2.5rem;
}

.card, h4, p {
    line-height: 40px;
}

.card h4 {
    font-size: 1.4rem;
}

.card p {
    font-weight: bold;
    font-size: 1.2rem;
}
